<div class="place-content-center light-theme">
  <app-header [context]="'front-page'" (click)="onClick($event)"></app-header>
  <app-home id="home"></app-home>
  <app-aventuras id="adventure"></app-aventuras>

  <app-coming-soon id="coming"></app-coming-soon>

  <!-- <div class="p-5 px-6 pt-16 lg:px-20 xl:px-24 md:pt-24">
    <app-footer id="contact"></app-footer>
  </div> -->

  <div class="items-end">
    <app-social-fab></app-social-fab>

    <div (click)="onClick($event)" class="flex justify-end w-[100%] pointer-events-none">
      <button
        name="home"
        title="Subir"
        class="flex items-center justify-end duration-300 rounded-full cursor-pointer pointer-events-auto bottom-6 right-4 md:bottom-10 md:right-8 h-14 w-14 button drop-shadow-lg hover:scale-110"
        data-aos="flip-left"
        data-aos-duration="1500"
      >
        <svg class="svgIcon outline-secondary" viewBox="0 0 384 512">
          <path
            d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"
          ></path>
        </svg>
      </button>
    </div>
  </div>
</div>
