<div class="w-full grid place-content-center text-justify ">
<div class="max-w-5xl m-5">

    <p style="text-align: center; margin: 10px">
    <b>
      TÉRMINOS Y CONDICIONES GENERALES DE CONTRATO DE USO DE LA PLATAFORMA
      “PRECISAPP” ENTRE PARAQVARIA S.A. Y EL USUARIO O AFILIADO.
    </b>
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        I DEFINICIONES:
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>a) PRECISAPP:</b>
    
      Es una plataforma digital que permite el uso por varios medios, como
      ser: portal web: <b>precisapp.com</b>, de ahora en adelante denominada “La
      Plataforma”. Los Usuarios solo podrán utilizarla para su uso personal,
      sin que esto implique el otorgamiento al mismo, de una licencia de la
      tecnología utilizada en la Plataforma de ningún tipo.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>b) Usuario:</b>
    
      Persona física o jurídica, con capacidad plena de contratación de
      acuerdo a las leyes del Territorio aplicable, que a través de la
      Plataforma de <b>PRECISAPP</b> utilice y/o adquiera los Paquetes, Contenidos,
      Productos y Servicios allí ofertados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>c) Comercio Electrónico:</b>
    
      Toda acción de índole comercial, sea o no contractual, estructurada a
      partir de la utilización de uno o más mensajes de datos y/o de
      cualquier otro medio similar, sujeto a lo establecidas por las leyes
      vigentes del Territorio aplicable.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>d) Cookies</b>
    
      : Cadenas de texto enviadas virtualmente que son almacenadas por el
      uso de La Plataforma por el Operador de la plataforma, para la
      consulta de las actividades y preferencias de los usuarios.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>e) Datos personales</b>
    
      : Se refiere a toda información que permite la plena identificación de
      una persona física.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>f) Empresa Aseguradora:</b>
    
      Empresa autorizada legalmente, de acuerdo a las leyes vigentes del
      Territorio aplicable, encargada de prestar el servicio de
      aseguramiento ante la ocurrencia de alguno de los eventos aplicables,
      sujeto a las limitaciones establecidas en el Contrato a ser suscrito
      directamente con el Usuario.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>g) Empresa Proveedora de Servicios de Asistencia: </b>
    
      Persona Jurídica encargada de prestar el Servicios de Asistencia
      directamente al Usuario a través de la Plataforma <b>PRECISAPP</b>.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>h) Prestador de Servicios: </b>
    
      Puede abarcar a cualquier persona física o jurídica que preste
      servicios directos de cualquier naturaleza a través de la Plataforma
      <b>PRECISAPP</b>, incluyendo a Empresas Aseguradoras y Empresas Prestadoras
      de Servicios de Asistencia.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>i) Mensajes de datos:</b>
    
      Toda información generada, enviada, recibida, almacenada o comunicada
      por medios electrónicos, ópticos o similares, como pudieran ser, entre
      otros, el Intercambio Electrónico de Datos (EDI), Internet, el correo
      electrónico o telegramas.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>j) Administrador de La Plataforma: </b>
    
      Es la persona jurídica encargada de administrar operativa y
      funcionalmente la Plataforma, representado para los efectos de los
      presentes términos por Paraqvaria S.A., o por la persona física o
      jurídica que la misma designe.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>k) Paquetes: </b>
    
      Productos y Servicios que se oferten a través de la Plataforma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>l) Publicidad: </b>
    
      Es toda forma de comunicación realizada por el Administrador, con el fin
      de brindar información sobre productos, servicios, contenidos,
      actividades comerciales y comunicar estrategias o campañas
      publicitarias o de mercadeo, propias o de terceros; realizada como
      mecanismo de referencia.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>m) Sistema de pagos: </b>
    
      Servicio que permite la realización de pagos por parte de los Usuarios
      directamente a Paraqvaria, o a quien ésta designe, por cualquier medio
      permitido legalmente en el Territorio.-
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>n) Servicios de asistencia: </b>
    
      Todos aquellos servicios adicionales ofrecidos por Empresas
      Proveedoras de Servicios o Prestadores de Servicios que no forman
      parte de los servicios prestados por la Empresa Aseguradora.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>o) Territorio: </b>
    
      Se entenderá como Territorio a la República del Paraguay.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>
        p) Ventanas emergentes (Pop-Ups):
      </b>
    
      Ventana o aviso de internet que emerge automáticamente en cualquier
      momento cuando se utiliza la Plataforma
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
    
      <b>q) Afiliado: </b>
    
      Usuario que contrata un plan de <b>Precisapp</b> ofrecido por las Empresas
      Proveedoras de Servicios de Asistencia, Empresas Aseguradoras y
      Prestadores de Servicios.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        II. DECLARACIONES
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      PARAQVARIA S.A. es una sociedad Anónima, constituida de conformidad
      con las leyes de la República del Paraguay. Paraqvaria, a través de
      sus afiliadas y subsidiarias, es la responsable de operar y
      administrar la Plataforma <b>PRECISAPP</b> y brindar por sí o por medio de
      terceros los productos, servicios y contenidos, a los Usuarios que
      contraten los mismos a través de la Plataforma <b>PRECISAPP</b>. Dichos
      productos, servicios y Contenidos que pueden incluir pero no están
      limitados a Seguros y Servicios de Asistencia.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • Paraqvaria actúa como un canal de distribución entre las partes
      contratantes, a saber: la Empresa Aseguradora, la Empresa Proveedora
      de Servicios de Asistencia, el Prestador de Servicios y el Afiliado.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • Paraqvaria no es una compañía aseguradora, ni proveedora de
      servicios de asistencia.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • Paraqvaria no es parte contractual de los contratos celebrados entre
      las partes, es decir entre la Empresa Aseguradora, la Empresa
      Proveedora de Servicios de Asistencia, el Prestador de Servicios y el
      Afiliado.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • La Empresa Aseguradora es una empresa legalmente constituida según
      lo establecido por el ordenamiento jurídico aplicable, y autorizada
      para operar como tal según las leyes del Territorio aplicable.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • La Empresa Aseguradora es parte del contrato que surge entre esta y
      el Afiliado en forma directa o a través de planes o Paquetes
      combinados de Servicios.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • La Empresa Proveedora de Servicios de Asistencia es una empresa
      legalmente constituida según lo establecido por el ordenamiento
      jurídico del Territorio aplicable
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • La Empresa Prestadora de Servicios de Asistencia es parte del
      contrato que surge entre esta y el Afiliado.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      • El Prestador de Servicios es una persona física o jurídica que
      realiza contratos de servicios en forma directa con el Afiliado.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        III. OBJETO
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Los presentes Términos y Condiciones regulan el acceso y uso que hagan
      los Usuarios, desde cualquier Territorio aplicable, para que éstos
      ingresen a la Plataforma <b>PRECISAPP</b>, se informen sobre los Paquetes
      ofertados en ella, para que sean utilizados como referencia para los
      Usuarios y puedan solicitar o contratar los contenidos, productos y
      servicios puestos a disposición por Paraqvaria.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria a través de la Plataforma realiza las siguientes acciones:
      <b>a)</b> exhibe Paquetes de forma publicitaria para que puedan servir de
      referencia a los Usuarios, <b>b)</b> facilita el contacto entre Usuarios o
      Afiliados, Empresas Aseguradoras, Empresas Proveedoras de Servicios y
      Prestadores de Servicios para la realización del vínculo contractual,
      <b>c)</b> permite el uso de la plataforma de procesamiento de pagos
      habilitados; y, <b>d)</b> sirve de medio de envío de comunicaciones entre los
      Afiliados, las Empresas Proveedoras de Servicios, Empresas
      Aseguradoras y Prestadores de Servicios.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      La utilización por parte del o de los Usuarios o Afiliados a la
      Plataforma o de los Productos y Servicios ofertados en la misma,
      implica la aceptación plena y sin reservas de todas y cada una de las
      disposiciones incluidas en los presentes Términos y Condiciones, al
      igual que la Política de Privacidad.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        IV. CUENTAS DE USUARIO
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Los Usuarios o Afiliados deben contar con una cuenta para poder
      acceder y realizar operaciones a través de la Plataforma. Para la
      creación de una cuenta, la Plataforma solicitará datos como nombre,
      fecha de nacimiento, teléfono, dirección, dirección de correo
      electrónico y documento de Identidad Civil así como el Registro Ünico
      de Contribuyente (RUC) en su caso. Esta información se utiliza para la
      plena identificación del Usuario o Afiliado que pretende contratar los
      Servicios y Productos y de esta manera adquirir los Servicios o
      Paquetes ofrecidos, para el cumplimiento de los presentes términos y
      condiciones, para la prevención de fraudes.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Los Usuarios o Afiliados, al momento de la creación de la cuenta,
      podrán suministrar voluntariamente más datos relacionados con su
      individualización al tiempo en que cree su propio Perfil dentro de La
      Plataforma <b>PRECISAPP</b>.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      El uso de las cuentas es personal e intransferible, y a los Usuarios o
      Afiliados no les es permitido ceder los datos de validación para el
      acceso a La Plataforma ni el uso de su cuenta a ningún tipo de
      terceros. El incumplimiento de lo precedentemente relacionado,
      acarreará la suspensión y bloqueo definitivo de la cuenta (incluye
      correo electrónico y número de identificación personal). En caso de
      olvido de los datos de validación o de usurpación de éstos, es
      obligación del Usuario o Afiliado informarlo al Administrador a través
      de la opción “olvidó su contraseña” o a través de comunicación enviada
      al correo electrónico <b>info@precisapp.com</b>.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Las cuentas de los usuarios y afiliados serán administradas por
      Paraqvaria o por la persona que éste designe, teniendo plena facultad
      para la conservación o no de la cuenta, en caso de que la información
      suministrada por el Usuario o Afiliado no sea veraz, completa o
      segura; o cuando el mismo de cualquier forma incumpla total o
      parcialmente las obligaciones que para el mismo surjan de estos
      términos y condiciones generales.-
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      En ningún momento Paraqvaria solicitará al Usuario o Afiliado
      información que NO fuesen estrictamente necesarios para su vinculación
      y facilitación del pago. Los datos de tarjetas débito o crédito, solo
      se solicitarán al momento de realizar el pago virtual si ese es el
      método de pago lo requiera y con la aceptación en cada caso del
      Usuario o Afiliado.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      El Usuario o Afiliado autoriza expresamente al momento de la
      aceptación de los presentes Términos, el uso de Cookies por parte de
      Paraqvaria en toda actividad de uso que realice de la Plataforma
      <b>PRECISAPP</b>.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        V. LIMITACIÓN DE LA RESPONSABILIDAD:
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      En la relación contractual que el Usuario o Afiliado celebre o
      mantenga con cualquier Empresa Proveedora de servicios, Empresa
      Aseguradora o Prestador de Servicios ofertados en la Plataforma, no
      vincula de ninguna manera a Paraqvaria en la misma, en virtud de que
      la relación contractual será directamente con dichas Empresas
      Prestadoras de Servicios, Aseguradoras o Prestadores de Servicios y
      consistirá en el contrato que se suscriba con cada Usuario o Afiliado
      directamente.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        VI. DATOS PERSONALES Y MANEJO DE INFORMACIÓN
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      La información recolectada por Paraqvaria, es suministrada por los
      Consumidores de forma libre y voluntaria, para que esta sea
      administrada por Paraqvaria o por quien éste designe para el
      cumplimiento de los servicios adquiridos, lo que implica su
      recolección; almacenamiento en servidores o banco de datos de
      Paraqvaria o de terceros específicamente contratados para el efecto;
      circulación de los mismos dentro de la organización.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Los datos recolectados serán objeto de análisis para fines de mejorar
      la estrategia de negocios del portal web, apoyada en herramientas de
      inteligencia de negocios y minería de datos, que permiten adquirir
      conocimientos prospectivos para fines de predicción, clasificación y
      segmentación, exclusivamente dentro del sistema preestablecido por La
      Administradora.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria es responsable del tratamiento de la información personal
      recolectada a través del portal web, responsabilidad que podrá delegar
      en un tercero, en calidad de responsable o encargado de la
      información, asegurando contractualmente el adecuado tratamiento y
      confidencialidad de la misma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria podrá recolectar, administrar, transferir y trasmitir los
      datos personales proveídos por el Usuario o Afiliado, para usos
      publicitarios y de mercadeo, sin perjuicio del derecho del Usuario o
      Afiliado a conocer, actualizar, modificar y suprimir los datos
      personales existentes en las bases de datos asociadas a la Plataforma.
      Para ello deberá realizar la solicitud de consulta, reclamo o
      supresión a la dirección electrónica <b>info@precisapp.com</b> o directamente
      en la plataforma detallando las modificaciones a realizar y aportando
      los documentos que lo soportan.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        VII. PROCESO PARA ACCEDER AL SERVICIO
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Para el proceso de solicitud de gestión de la compraventa de un
      Paquete y otros Servicios , los Usuarios o Afiliados deben estar
      plenamente identificados con su Cuenta de Usuario o Afiliado y seguir
      el siguiente procedimiento:
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>1)</b> Ingresar a la Plataforma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>2)</b> Seleccionar los Servicios y Productos a ser contratados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>3)</b> Aceptación de Términos y Condiciones especiales de los Servicios y
      Productos a ser contratados con las Empresas Proveedoras de Servicios,
      Empresas Aseguradoras o Prestadores de Servicios.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>4)</b> Pago por los medios autorizados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>5)</b> Corroboración del pago por la Plataforma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>6)</b> Emisión de la Factura correspondiente.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      <b>7)</b> Configurar una Cuenta y aceptación de los términos y condiciones
      generales de la Plataforma.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        VIII. DEBERES DEL USUARIO O AFILIADO
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Al configurarse la cuenta a nombre del Usuario o Afiliado, éste se
      obliga a:
      <b>a)</b> Suministrar información veraz y fidedigna al momento de crear su Cuenta de Usuario Afiliado;
      <b>b)</b> No compartir los datos y contraseñas de validación de su cuenta a terceros.
      <b>c)</b> No realizar en o a través de la Plataforma, actos contrarios a la moral,
      la ley, el orden público y las buenas costumbres, en contra de la Administradora,
      las Empresas Proveeedoras de Servicios, Empresas Aseguradoras o los
      prestadores de servicios o de terceros;
      <b>d)</b> Informar inmediatamente a Paraqvaria en caso de olvido o usurpación
      de los datos de validación de la cuenta del Usuario o Afiliado;
      <b>e)</b> Abstenerse de realizar conductas atentatorias al funcionamiento de La Plataforma;
      <b>f)</b> Abstenerse de descifrar, descompilar o desensamblar cualquier elemento
      constitutivo de la Plataforma o de cualquiera de sus partes;
      <b>g)</b> realizar todas aquellas conductas necesarias para la ejecución normal
      y necesario del negocio jurídico.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        IX. DEBERES DE PARAQVARIA
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      En virtud de los presentes términos Paraqvaria, se obliga a <b>a)</b>
      Suministrar al Usuario o Afilaido información cierta, fidedigna,
      suficiente, clara y actualizada respecto de los paquetes que exhibe;
      <b>b)</b> Indicar las características generales de los paquetes y servicios
      para que sirvan de referencia al Usuario o Afiliado; <b>c)</b> Informar al
      Usuario o Afiliado suficientemente sobre los medios habilitados para
      realizar el pago de los productos o servicios contratados a través de
      la Plataforma; <b>d)</b> Enviar al correo electrónico suministrado por el
      Usuario o Afiliado resumen del encargo y constancia de la transacción,
      así como la factura correspondiente; <b>e)</b> Poner a disposición de los
      Usuarios o Afiliados los términos y condiciones de uso de La
      Plataforma de forma actualizada; <b>f)</b> Utilizar la información únicamente
      para los fines establecidos en los presentes términos; <b>g)</b> Utilizar
      mecanismos de información y validación durante la transacción como
      ventanas emergentes (Pop Ups), que permitan al Usuario o Afiliado
      aceptar o no cada paso del proceso de compra.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria no es, proveedor, expendedor, agente, distribuidor y en
      general ningún tipo de comercializador de los Paquetes o Servicios que
      exhibe, ya que opera solo como una plataforma tecnológica que permite
      el encuentro de Usuarios o Afiliados y Empresas Proveedorass de
      Servicios, Empresas Aseguradoras o Prestadores de Servicios a través
      de su Plataforma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria se reserva el derecho de actualizar, modificar y/o
      descontinuar los servicios y/o paquetes exhibidos en La Plataforma.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        X. CONSIDERACIONES FINALES
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.1. CONTENIDOS
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      A través de la Plataforma <b>PRECISAPP</b>, se podrá poner a disposición de
      los Usuarios o Afiliados información de carácter comercial y
      publicitario, propio o de terceros de conformidad a las prácticas
      comerciales aceptables en el Territorio aplicable. En estos casos
      Paraqvaria no avala, garantiza o compromete su responsabilidad frente
      a los servicios y/o productos que se comercialicen por éstos terceros,
      ya que la Plataforma sirve como canal de comunicación y publicidad,
      mas no como herramienta de prestación de servicios. En consecuencia,
      es total responsabilidad de los Usuarios o Afiliados el acceso a los
      sitios que remite la publicidad, asumiendo la obligación de verificar
      y conocer los términos de los servicios ofrecidos por los terceros.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Toda la información puesta a disposición en la Plataforma como
      imágenes, publicidad, nombres, marcas, lemas y demás elementos de
      propiedad intelectual; son utilizados legítimamente por Paraqvaria,
      sea porque son de su propiedad, porque tiene autorización para
      ponerlos a disposición, o porque se encuentra facultado para hacerlo.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.2. FUNCIONAMIENTO DE LA PLATAFORMA
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria administra directamente o por medio de terceras personas la
      Plataforma, siendo toda la información que se comunica a través de la
      misma, cierta y actualizada. En ningún caso responderá por daños
      directos o indirectos que sufra el Usuario o Afiliado por la mala
      utilización de la información contenida en la Plataforma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria realiza los mejores esfuerzos para mantener en operación de
      La Plataforma las 24 horas del día, pero en ningún caso garantiza
      disponibilidad y continuidad permanente de la misma si por causas no
      imputables a Paraqvaria, imposibilitan su funcionamiento.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria se reserva el derecho de cancelar las cuentas de Usuarios o
      Afiliados y/o de prohibir el acceso a La Plataforma a los Usuarios o
      Afiliados que realicen conductas violatorias de los presentes términos
      o que incumplan las obligaciones contraídas.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.3. LIMITACIÓN DE RESPONSABILIDAD
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria pone a disposición de los Usuarios o Afiliados un espacio
      virtual que les permite ponerse en comunicación via Internet, para
      encontrar una forma de comprar y/o contratar Productos y Servicios.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria no es quien presta los servicios ofrecidos por paquetes o
      servicios ofertados en su plataforma.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria no interviene en las condiciones de cierre de las
      operaciones realizadas entre los Usuarios o Afiliados y los
      proveedores de servicios. Empresas aseguradoras o prestadores de
      servicios, por lo que no será responsable respecto de la existencia,
      calidad, o legitimidad de los paquetes o servicios ofrecidos y/o
      adquiridos por los Usuarios o Afiliados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria no tiene ninguna participación, durante todo el tiempo en
      que los paquetes se publican para la venta, ni en la posterior
      negociación y perfeccionamiento, en la celebración del o de los
      contratos definitivos entre las partes, por lo que no será responsable
      por el efectivo cumplimiento de las obligaciones asumidas por los
      ofertantes de dichos paquetes en el perfeccionamiento de la operación.
      El Usuario o Afiliado conoce y acepta que al realizar operaciones con
      los ofertantes lo hace bajo su propio riesgo. En ningún caso
      Paraqvaria será responsable por lucro cesante, o por cualquier otro
      daño y/o perjuicio que haya podido sufrir el Usuario o Afiliado,
      debido a las operaciones realizadas o no realizadas por los paquetes o
      servicios publicados a través de Paraqvaria o de la Plataforma
      <b>PRECISAPP</b>.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      En caso que uno o más Usuarios o Afiliados o algún tercero inicien
      cualquier tipo de reclamo o acciones legales contra otro las Empresas
      Proveedoras Servicios, Empresas Aseguradoras o Prestadores de
      Servicios por los ofrecidos, todos y cada una de las partes
      involucradas en dichos reclamos o acciones eximen de toda
      responsabilidad a Paraqvaria y a sus directores, gerentes, empleados,
      agentes, operarios, representantes y apoderados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.4. ALCANCE DE LOS SERVICIOS DE PARAQVARIA
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Este acuerdo no crea ningún contrato de sociedad, de mandato, de
      franquicia, o relación laboral entre Paraqvaria y el Usuario o
      Afiliado. El Usuario o Afiliado reconoce y acepta que Paraqvaria no es
      parte en ninguna operación, ni tiene control alguno sobre la calidad o
      seguridad de los paquetes o servicios anunciados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.5. FALLAS EN EL SISTEMA
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria no se responsabiliza por cualquier daño, perjuicio o
      pérdida del Usuario o Afiliado causados por fallas en el sistema, en
      el servidor o en Internet, no atribuibles a la misma.- Tampoco será
      responsable por cualquier virus que pudiera infectar el equipo del
      Usuario o Afiliado como consecuencia del acceso, uso o examen de su
      sitio web o a raíz de cualquier transferencia de datos, archivos,
      imágenes, textos, o audio contenidos en el mismo, en todo material o
      contenido que no haya sido proveído directamente por Paraqvaria. Los
      Usuaríos o Afiliados no podrán imputar responsabilidad alguna a
      Paraqvaria ni exigir pago por lucro cesante, en virtud de perjuicios
      resultantes de dificultades técnicas o fallas en los sistemas o en
      Internet, no imputables a la misma. El sistema puede eventualmente no
      estar disponible debido a dificultades técnicas o fallas de Internet,
      o por cualquier otra circunstancia ajena a Paraqvaria; en tales casos
      se procurará restablecerlo con la mayor celeridad posible sin que por
      ello pueda imputársele algún tipo de responsabilidad. Paraqvaria no
      será responsable por ningún error u omisión contenidos en su sitio
      web, por información y/o datos que no sean de su exclusiva autoría.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.6. VIOLACIONES DEL SISTEMA O BASES DE DATOS
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      No está permitida ninguna acción o uso de dispositivo, software, u
      otro medio tendiente a interferir tanto en las actividades y
      operatoria de Paraqvaria como en las ofertas, descripciones, cuentas o
      bases de datos de Paraqvaria. Cualquier intromisión, tentativa o
      actividad violatoria o contraria a las leyes sobre derecho de
      propiedad intelectual y/o a las prohibiciones estipuladas en este
      contrato harán pasible a su responsable de las acciones legales
      pertinentes, y a las sanciones previstas por este acuerdo, así como lo
      hará responsable de indemnizar los daños ocasionados.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.7. MODIFICACIÓN
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      Paraqvaria se reserva el derecho de modificar autónomamente y en
      cualquier momento, los aspectos formales, procedimentales o
      sustanciales los presentes Términos y Condiciones de uso de La
      Plataforma, con la obligación de actualizados y ponerlos a disposición
      de los Usuarios o Afiliados en La Plataforma, siendo la última versión
      publicada la que regulará las relaciones comerciales que se generen al
      momento de realizarse la transacción. Así mismo, cuenta con plena
      autonomía para modificar los usos de La Plataforma permitidos a los
      Usuarios o Afiliados, con el único deber de informarlo por un medio
      virtual que permita su publicación y comunicación al público, previa a
      la implementación o vigencia de las modificaciones introducidas.
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      X.8. LEGISLACIÓN APLICABLE
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      El presente documento se regirá por la legislación vigente en la
      República del Paraguay. Su adopción implica el ejercicio de su libre
      voluntad y que la relación que surge de este documento se regirá en
      todos sus efectos por su contenido y en su defecto por la ley
      comercial de la República del Paraguay.
    </p>
    
    <p style="text-align: center; margin-bottom: 0.28cm; line-height: 108%;" class="text-size ion-text-center">
      <b>
        XI. ACEPTACIÓN TOTAL DE LOS TÉRMINOS
      </b>
    </p>
    
    <p style="margin-bottom: 0.28cm; line-height: 108%;" class="text-size">
      El Usuario o Afiliado manifiesta expresamente tener plena capacidad
      legal para usar La Plataforma y para celebrar las transacciones
      comerciales que se puedan generar con las Empresas Proveedoras de
      Servicios, Empresas Aseguradoras o Prestadores de Servicios. Así
      mismo, manifiesta haber suministrado información real, veraz y
      fidedigna para el efecto.- Declara así mismo, que ha leído, que
      entiende y que acepta la totalidad de las situaciones reguladas en el
      presente escrito de Términos y Condiciones de Uso de la Plataforma,
      por lo que se compromete al cumplimiento total de los deberes,
      obligaciones, acciones y omisiones expresadas y contenidas en el
      mismo.
    </p>
    <section class="container-fluid" style="text-align: center;margin: 10px;">
      <a >
        <button routerLink="" type="button" class="btn btn-warning fs-5 fw-bolder" style="color: white;">VOLVER</button></a>

    </section>
  </div>
</div>