
.font-ethnocentric {
  font-family: 'Ethnocentric Italic', sans-serif !important;
  font-size: 1.3rem;
  @media (min-width: 768px) {
    font-size: 2.5rem;
  }

  @media (min-width: 1024px) {
    font-size: 3.5rem;
  }

  color: #ffffff;
}

.font-candide {
  font-family: 'Candide Bold Italic', sans-serif !important;
  font-size: 12px !important;
  font-family: inherit !important;
  font-weight: 700;
  @media (min-width: 1024px) {
    font-size: 14px !important;
  }
  color: #ffffff;
}

.playstore-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  place-content: center;
  border: 2px solid rgba(255, 255, 255, 1);
  border-radius: 9999px;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  padding: 0.625rem 1.5rem;
  text-align: center;
  outline: 0;
  transition: all 0.2s ease;
  text-decoration: none;
}

.playstore-button:hover {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
}

.texts {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1;
}

.text-1 {
  font-family: 'Ethnocentric Italic', sans-serif !important;
  margin-bottom: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 600;
}

.text-2 {
  font-family: 'Ethnocentric Italic', sans-serif !important;
  font-weight: 900;
}

button {
  font-family: inherit;
  font-size: 16px;
  background: #fe4f00;
  color: white;
  padding: .9em 2.2em !important;
  display: flex;
  align-items: center;
  border: none;
  transition: all 1s !important;
  cursor: pointer;
  width: 240px;
}

button:hover {
  font-family: inherit;
  font-size: 16px;
  background: white;
  color: #fe4f00;
  padding: .9em 2em !important;
  display: flex;
  align-items: center;
  border: none;
  transition: all 1s !important;
  cursor: pointer;
  width: 180px;
}
