<div class="bg-[url(./assets/img/fondo-home.webp)] bg-center bg-cover bg-fixed">
  <!-- bg-blend-darken backdrop-blur-sm bg-gray-900/30 -->
  <div
    class="items-center justify-center w-full h-screen pb-12 lg:pb-0 md:flex bg-blend-darken backdrop-blur-sm bg-gray-900/30"
  >
    <div class="flex flex-col items-center h-full text-[#1c1c1c]">
      <div
        class="flex flex-col items-center justify-center w-full h-full text-center select-none"
      >
        <h1
          class="flex justify-center w-full whitespace-nowrap font-ethnocentric"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          CO WATERCRAFT INC
        </h1>
        <h1
          class="w-full pb-2 md:py-8 whitespace-nowrap font-ethnocentric"
          data-aos="fade-left"
          data-aos-duration="1000"
        >
          JET SKI RENTALS
        </h1>
        <button
          class="flex justify-center w-full whitespace-nowrap font-candide"
          (click)="scrollToSection('adventure')"
          data-aos="fade-right"
          data-aos-duration="1000"
        >
          See all tours
        </button>
      </div>
    </div>
  </div>
</div>
