.font-Ethnocentric {
   font-family: 'Montserrat', sans-serif !important;
  font-weight: 900;
  font-style: italic;
  color: #101c3c !important;
  font-size: 24px !important;
  @media only screen and (min-width: 768px) {
    font-size: 36px !important;
  }
}

.font-candide {
   font-family: 'Montserrat', sans-serif !important;
  font-weight: 600;
  color: #101c3c !important;
  font-size: 17px !important;
  @media only screen and (min-width: 768px) {
    font-size: 29px !important;
  }
}
