<body class="flex items-center justify-center min-h-screen bg-center bg-no-repeat bg-cover" style="background-image: url('assets/img/fondo-bienvenida.webp')">

  <div class="w-full max-w-lg p-8 m-5 bg-white rounded-lg shadow-lg dark:bg-slate-700">
    <div class="flex justify-center">
      <img src="assets/img/logo_precisapp.svg" class="w-40 mb-4 animate-fade animate-once animate-duration-[2000ms]" alt="PrecisApp Logo">
    </div>

    <div class="mb-4 space-y-4">
      <h1 class="text-lg font-bold text-center text-gray-500 dark:text-white">¿Cómo acceder a tu cobertura médica?</h1>
           <div class="flex items-center space-x-4">
            <div class="w-6 h-6">
              <svg-icon class="svgIcon animate-fade-right animate-duration-[2000ms]" src="/assets/icons/profile-card.svg"></svg-icon>
            </div>
            <div class="flex-grow">
              <p class="font-normal text-gray-500 dark:text-white">
                Presentar tu carnet virtual y cédula de identidad al prestador para cualquier servicio. Estar con pago al día.
              </p>
            </div>
          </div>

          <div class="flex items-center space-x-4">
            <div class="w-6 h-6">
              <svg-icon class="svgIcon animate-fade-right animate-duration-[2500ms]" src="/assets/icons/building.svg"></svg-icon>
            </div>
            <div class="flex-grow">
              <p class="font-normal text-gray-500 dark:text-white">
                Consultas ambulatorias urgencias/emergencias, ver prestadores habilitados 24hs en Guía Médica.
              </p>
            </div>
          </div>

          <div class="flex items-center space-x-4">
            <div class="w-6 h-6">
              <svg-icon class="svgIcon animate-fade-right animate-duration-[3000ms]" src="/assets/icons/bell-ring.svg"></svg-icon>
            </div>
            <div class="flex-grow">
              <p class="text-gray-500 dark:text-white">Ambulancia, médico en casa y traslados 24hs, llamar a:</p>
              <p class="text-gray-500 dark:text-white">GEMA: 021-600774, 0800-6070-7000</p>
              <p class="text-gray-500 dark:text-white">EPEM: 021-228660/1, 0994-484100</p>
            </div>
          </div>

          <div class="flex items-center space-x-4">
            <div class="w-6 h-6">
              <svg-icon class="svgIcon animate-fade-right animate-duration-[3500ms]" src="/assets/icons/users-group.svg"></svg-icon>
            </div>
            <div class="flex-grow">
              <p class="font-normal text-gray-500 dark:text-white">
                Consulta con especialistas: ver Guía Médica, llamar y agendar turno 24hs.
              </p>
            </div>
          </div>

          <div class="flex items-center space-x-4">
            <div class="w-6 h-6">
              <svg-icon class="svgIcon animate-fade-right animate-duration-[4000ms]" src="/assets/icons/clock-time.svg"></svg-icon>
            </div>
            <div class="flex-grow">
              <p class="font-normal text-gray-500 dark:text-white">
                PrecisApp 24hs.: Para urgencias / emergencias 0981-916574, 021-3281902
              </p>
            </div>
          </div>

          <div class="flex items-center space-x-4">
            <div class="w-6 h-6">
              <svg-icon class="svgIcon animate-fade-right animate-duration-[4500ms]" src="/assets/icons/newspaper.svg"></svg-icon>
            </div>
            <div class="flex-grow">
              <p class="text-gray-500 dark:text-white">Tus órdenes médicas para cobertura y otros al WhatsApp 0981-916574</p>
              <p class="text-gray-500 dark:text-white">De 08:00 a 17:00hs de lunes a viernes y te indicamos el prestador.</p>
            </div>
          </div>
          <hr class="my-4">

      <section class="mt-4 text-center">
        <a>
          <button routerLink="" type="button" 
          class="ms-3 btn 
          rounded-lg border 
          text-sm 
          font-medium 
          px-5 
          py-2.5 
          focus:z-10 

          bg-orange-500
          text-white 
          border-orange-500 
          hover:bg-gray-500 
          
          dark:bg-orange-500
          dark:text-white 
          dark:border-orange-500 
          dark:hover:bg-gray-500"
          style="color: white;">Ir a inicio</button>
        </a>
      </section>
    </div>
  </div>

</body>